/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}


.sidebar {
	float:left;
	height:400px;
	width:33.3%;
}

.main_content {
	float:left;
	height:400px;
	width:33.3%;
}

.sub_content {
	float:left;
	height:400px;
	width:33.3%;
}


.footer {
	clear:both;
}
