/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {}

.header:after{
	content:"";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}

.logo {
	float:left;
}

.navigation {
	float:right;
}

.sidebar {
	float:left;
	height:300px;
	width:25%;
}

.main_content {}

.main_content:after{
	content:"";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}

.sub_content {
	float:left;
	height:150px;
	width:70%;
}

.sub_content_2 {
	float:left;
	height:150px;
	width:70%;
}

.footer {}
